{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
<!-- form message -->
<div class="w3-container w3-round-xxlarge w3-display-middle" style="background-color:rgba(0,0,0,0.51); color: #ffffff;">
    <div class="w3-center">
<form action="/chatgpt" method="post">
    <!--div class="w3-container w3-card" style="max-width: 400px;"-->
        <h1 class="w3-center">ChatGPT</h1>
            <input class="input" type="text" name="message" id="message" required>
        <br>
        <button class="button" type="submit">Enter</button>
    </div>
</form>
   <br>
        <a href="/welcome"><-back</a>
    </div>
    {% endblock %}