{% extends 'base.html' %}
{% block title %}History{% endblock %}
{% block content %}

<div class="w3-container w3-round-xxlarge w3-display-middle margin_history" style="background-color:rgba(0,0,0,0.51); color: #ffffff;">
    <div class="w3-center history-container">

<h1>History</h1>
{% for query, response, model in history %} <!-- get query and response and model in history that is returned in /history app route -->
<p> YOU:{{ query }}, MODEL:{{ model }}</p>
<p> {{ response }}</p>
        {% endfor %}
        <a href="/welcome"><-back</a> <!-- link to /welcome page, so the user can easily go back -->
     <form action="/logout" method="get">
    <button class = "button" type="submit">Logout</button>
</form>
    </div>
       {% endblock %}