{% extends 'base.html' %}
<!--script src="https://www.google.com/recaptcha/enterprise.js" async defer></script-->
{% block title %}Register{% endblock %}
{% block content %}
<div class="w3-container w3-round-xxlarge w3-display-middle" style="background-color:rgba(0,0,0,0.51); color: #ffffff;">
    <div class="w3-center">
<h1 style="font-size:3vw;">Register</h1>
  <!-- get form from /register route -->
<form action="/register" method="post">
        <label for="username">Username:</label>
        <!-- allow user to input their detail -->
        <input class="input" type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input class="input" type="password" name="password" id="password" required>
        <br>
    <!-- Add the reCAPTCHA widget >
    <div class="g-recaptcha" data-sitekey="6LcW2mIqAAAAAC2doR8eg2ECBmgCCMkZQpvhclR4"></div-->
        <button class="button" type="submit">Register</button>
</form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p style="color: #ffffff;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <p>Already have an account? <a href=/login><button class = "button button" type ="submit">Login</button></a></p>
            </div>
    <!-- reCAPTCHA JS to get the recapcha working-->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}