{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="w3-container w3-round-xxlarge w3-display-middle" style="background-color:rgba(0,0,0,0.51); color: #ffffff;">
    <div class="w3-center">
<h1><b> Hello {{ user }},</b></h1> <!-- display username using session -->
<h1><b>welcome to SongrenAI app </b></h1>
    <!-- a drop down menu for selecting ai model using w3Css dropdown -->
    <div class="w3-dropdown-hover w3-round-large">
    <button class="w3-button w3-round-large button">Chose model</button>
    <div class="w3-dropdown-content w3-bar-block w3-animate-opacity w3-round-large " style="background-color:rgba(0,0,0,0.51); color: #ffffff;">
      <a href="/chatgpt" class="w3-bar-item w3-button w3-round-large">ChatGPT</a>
      <a href="/llama" class="w3-bar-item w3-button w3-round-large">llama 3.1</a>
      <a href="/llama2" class="w3-bar-item w3-button w3-round-large">llama 2</a>
        <a href="/gemini" class="w3-bar-item w3-button w3-round-large">Gemini 1.5 flash</a>
        </div>
        </div>
<br>
<br>
<form action="/logout" method="get">
    <button class = "button" type="submit">Logout</button>
</form>
    </div>
<br>
{% endblock %}